/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 9, ../sass/ie.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 13, ../sass/ie.scss */
#head {
  position: relative;
  left: 0px;
  height: 100px;
}

/* line 18, ../sass/ie.scss */
.ul {
  position: absolute;
  top: 15px;
  height: 25px;
  right: 0;
}

/* line 24, ../sass/ie.scss */
.list {
  line-height: 24px;
  margin-left: 10px;
  color: #333;
  font-size: 13px;
  font-weight: 700;
}
